[push]
    default = simple
[pull]
    rebase = true
[rerere]
    enabled = true
[color]
    ui = true
[alias]
    amend = commit -a --amend
    branch-name = git branch-name rev-parse --abbrev-ref HEAD
	lg = log --oneline --decorate --all --graph
	publish = !git push -u origin $(git branch-name)
	unpublish = !git push origin :$(git branch-name)
	s = status -s
